
.container {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: repeat(2, 300px);
    position: absolute;
    left: 20%;
    top: 10%;
  }
  

  .item {
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
    background-color: white;
    transition: 10s ease;
  }

  .item:hover {
    background-color: red;
    transition: 0s ease;
  }

  /* .container {
    width: 100%;
    height: 700px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

  .item {
    width:62px;
    height:62px;
    float:right;
    border-style: solid;
    background-color: white;
    transition: 10s ease;
    text-align: center;
  }

  .item:hover {
    background-color: red;
    transition: 0s ease;
  }  */

  /* .container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 10px;
}

.item {
    border-style: solid;
  } */